[submodule "employee-profile"]
	path = employee-profile
	url = https://github.com/kanzyhany/employee-profile
[submodule "Leaves"]
	path = Leaves
	url = https://github.com/WefhLNUE/Leaves
[submodule "Organization_Structure"]
	path = Organization_Structure
	url = https://github.com/WefhLNUE/Organization_Structure
[submodule "payroll"]
	path = payroll
	url = https://github.com/WefhLNUE/payroll
[submodule "preformance-optimisation"]
	path = preformance-optimisation
	url = https://github.com/WefhLNUE/preformance-optimisation
