[submodule "Organization_Structure"]
	path = Organization_Structure
	url = https://github.com/WefhLNUE/Organization_Structure
[submodule "payroll"]
	path = payroll
	url = https://github.com/WefhLNUE/payroll
[submodule "leaves-subsystem"]
	path = leaves-subsystem
	url = https://github.com/WefhLNUE/leaves-subsystem
[submodule "employee-profile-new"]
	path = employee-profile-new
	url = https://github.com/WefhLNUE/employee-profile-new
[submodule "Time-management-system"]
	path = Time-management-system
	url = https://github.com/WefhLNUE/Time-management-system
[submodule "hr-recruitment"]
	path = hr-recruitment
	url = https://github.com/WefhLNUE/hr-recruitment
