[submodule "payroll-tracking"]
	path = payroll-tracking
	url = https://github.com/WefhLNUE/payroll-tracking
[submodule "leaves-subsystem"]
	path = leaves-subsystem
	url = https://github.com/WefhLNUE/leaves-subsystem
[submodule "employee-profile-new"]
	path = employee-profile-new
	url = https://github.com/WefhLNUE/employee-profile-new
[submodule "Time-management-system"]
	path = Time-management-system
	url = https://github.com/WefhLNUE/Time-management-system
[submodule "hr-recruitment"]
	path = hr-recruitment
	url = https://github.com/WefhLNUE/hr-recruitment
[submodule "payroll-config"]
	path = payroll-config
	url = https://github.com/WefhLNUE/payroll-config.git
[submodule "Payroll-Processing-Execution-subSystem"]
	path = Payroll-Processing-Execution-subSystem
	url = https://github.com/WefhLNUE/Payroll-Processing-Execution-subSystem
